.time, .by, .descendants, .url {
  font-size: 30px;
  font-weight: bold;
}
.time span, .by span, .descendants span, .url span {
  font-weight: 400;
}

.container {
  margin-bottom: 10px;
  max-width: 80%;
}

.url a:hover {
  text-shadow: 1px 1px 1px black;
}