.refreshButton {
  border: 5px ridge #A19374;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 28px;
  background-color: #0A0A0A;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container {
  display: grid;
  justify-items: center;
  font-family: Playfair;
}

.commentBox {
  display: grid;
  border: 5px ridge #A19374;
  background-color: #0A0A0A;
  gap: 20px;
  padding: 5px;
  font-size: 24px;
  margin-bottom: 20px;
  width: 80%;
}

.absent {
  color: white;
  text-align: center;
  font-size: 40px;
  padding: 5px 0 10px 0;
}