$standart-border: 5px ridge #A19374;
$main-color: #0A0A0A;

%comment-base {
    width: 100%;
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
}

.container {
	display: grid;
	justify-items: center;
    font-family: Playfair;
}

.commentsTitul {
    justify-self: center;
}

.commentBox {
    display: grid;
    border: $standart-border;
    background-color: $main-color;
    gap: 20px;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 80%;
}

.refreshButton {
    border: $standart-border;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 28px;
    background-color: $main-color;
    color: white;
    cursor: pointer;
    user-select: none;
    justify-self: center;
}

.commentRoot {
    @extend %comment-base;
    cursor: pointer;
}

.comment {
    @extend %comment-base;
}

.active {
    @extend %comment-base;
    background: #470101;
    cursor: pointer;
}

.kidsContainer {
    display: grid;
    margin-left: 50px;
}

.text {
    justify-self: start;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
}

.by {
    justify-self: start;
    font-weight: bold;
    grid-row: 1 / 2;
    margin-right: 30px;
    color: yellow;
}

.time {
    justify-self: start;
    grid-row: 1 / 2;
}

.absent {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 5px 0 10px 0;
}