.container {
	display: grid;
	justify-items: center;
}

.head {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 200px;
}

.titul {
	margin-top: 50px;
	margin-bottom: 50px;
    padding-left: 200px;
	font-size: 40px;
	font-weight: bold;
}

.buttonToMain {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.buttonToMain img {
    width: 130px;
    height: 130px;
}

.commentContainer {
    display: grid;
    justify-items: center;
    gap: 5px;
}

.comment {
    width: 70%;
    background-color: papayawhip;
    display: grid;
    row-gap: 7px;
    grid-template-areas: 'a a' 'b c';
    border: 1px solid black;
    padding: 5px;
}

.text {
    grid-area: a;
}

.by {
    font-weight: bold;
    grid-area: b;
}

.time {
    justify-self: end;
    grid-area: c;
}