$standart-border: 1px solid black;

%comment-base {
    width: 100%;
    background-color: papayawhip;
    display: grid;
    row-gap: 7px;
    grid-template-areas: 'a a' 'b c';
    border: $standart-border;
    padding: 5px;
    margin-bottom: 3px;
}

.container {
	display: grid;
	justify-items: center;
}

.commentContainer {
    display: grid;
    margin-top: 10px;
    width: 60%;
}

.commentsTitul {
    justify-self: center;
}

.commentBox {
    display: grid;
    gap: 10px;
}

.refreshButton {
    border: $standart-border;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    background-color: rgb(184, 208, 227);
    cursor: pointer;
    user-select: none;
    justify-self: center;
}

.commentRoot {
    @extend %comment-base;
    cursor: pointer;
}

.comment {
    @extend %comment-base;
}

.active {
    @extend %comment-base;
    background-color: rgb(242, 205, 145);
    cursor: pointer;
}

.kidsContainer {
    display: grid;
    margin-left: 50px;
}

.text {
    justify-self: start;
    grid-area: a;
}

.by {
    justify-self: start;
    font-weight: bold;
    grid-area: b;
}

.time {
    justify-self: end;
    grid-area: c;
}