@import '../scss/variables';
@import '../scss/refreshButton';

.container {
	display: grid;
	justify-items: center;
    font-family: Playfair;
}

.commentBox {
    display: grid;
    border: $standart-border;
    background-color: $background-color;
    gap: 20px;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 80%;
}

.absent {
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 5px 0 10px 0;
}