.active, .comment, .commentRoot {
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
}

.container {
  display: grid;
  justify-items: center;
  font-family: Playfair;
}

.commentContainer {
  display: grid;
  margin-top: 10px;
  width: 80%;
}

.commentsTitul {
  justify-self: center;
}

.commentBox {
  display: grid;
  border: 5px ridge #A19374;
  background-color: #0A0A0A;
  gap: 20px;
  padding: 5px;
  font-size: 24px;
}

.refreshButton {
  border: 5px ridge #A19374;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 28px;
  background-color: #0A0A0A;
  color: white;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-self: center;
}

.commentRoot {
  cursor: pointer;
}

.active {
  background: #470101;
  cursor: pointer;
}

.kidsContainer {
  display: grid;
  margin-left: 50px;
}

.text {
  justify-self: start;
  grid-row: 2/3;
  grid-column: 1/3;
}

.by {
  justify-self: start;
  font-weight: bold;
  grid-row: 1/2;
  margin-right: 30px;
  color: yellow;
}

.time {
  justify-self: start;
  grid-row: 1/2;
}