.news {
  background-color: #222324;
  display: grid;
  grid-template-columns: 10fr 3fr;
  padding: 5px;
  text-decoration: none;
}

.news:link {
  color: white;
}

.news:visited {
  color: white;
}

.news:hover {
  background: #f2f6fc;
  color: #191e2e;
  box-shadow: inset 0 0 0 3px #191e2e;
}

.newsTitul {
  font-weight: bold;
  font-size: 25px;
}

.score {
  align-self: center;
}