.titul {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 60px;
	font-weight: bold;
    max-width: 80%;
    text-align: center;
}

.buttonToMain {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    img {
        width: 130px;
        height: 130px;
    }
}