.titul {
    display: grid;
    grid-template-columns: 88% 1fr;
    text-align: center;
    background-color: #0A0A0A;
    border-bottom: 5px ridge #A19374;
    font-family: BeauRivage;

    p {
        margin: 0 0 0 12%;
        font-size: 120px;
        font-weight: bold;
        color: white;
    }

    .buttonToMain {
        font-size: 20px;
        font-weight: bold;
        color: white;
        justify-self: center;
        align-self: center;
        font-family: Playfair;

        img {
            padding: 10px 0 0 0;
            width: 80px;
            height: 80px;
        }
    }
}

