.titul {
    text-align: center;
    background-color: #0A0A0A;
    border-bottom: 5px ridge #A19374;

    p {
        margin: 0;
        font-family: BeauRivage;
        font-size: 120px;
        font-weight: bold;
        color: white;
    }
}

.buttonToMain {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    img {
        width: 130px;
        height: 130px;
    }
}