@import '../scss/variables';

.titul {
    display: grid;
    grid-template-columns: 1fr 12%;
    text-align: center;
    background-color: $background-color;
    border-bottom: $standart-border;
    font-family: BeauRivage;

    p {
        margin: 0 0 0 12%;
        font-size: 120px;
        font-weight: bold;
        color: white;
    }

    .buttonToMain {
        font-size: 20px;
        font-weight: bold;
        color: white;
        justify-self: center;
        align-self: center;
        font-family: Playfair;

        img {
            padding: 10px 0 0 0;
            width: 80px;
            height: 80px;
        }
    }
}

