.titul {
  text-align: center;
  background-color: #0A0A0A;
  border-bottom: 5px ridge #A19374;
}
.titul p {
  margin: 0;
  font-family: BeauRivage;
  font-size: 120px;
  font-weight: bold;
  color: white;
}