.container {
  display: grid;
  justify-items: center;
}

.refreshButton {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
  font-size: large;
  background-color: #c2e7ff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.newsContainer {
  display: grid;
  gap: 5px;
}