.news {
  background-color: #0A0A0A;
  display: grid;
  grid-template-columns: 10fr 3fr;
  padding: 5px;
  text-decoration: none;
  font-size: 22px;
}
.news:link {
  color: white;
}
.news:visited {
  color: white;
}
.news:hover {
  background: #F0F8FF;
  color: #0A0A0A;
  box-shadow: inset 0 0 0 3px #0A0A0A;
}

.newsTitul {
  font-weight: bold;
  font-size: 32px;
}

.score {
  align-self: center;
}