@import '../scss/variables';
@import '../scss/refreshButton';

.container {
	display: grid;
	justify-items: center;
    font-family: Playfair;
}

.newsContainer {
    display: grid;
    width: 80%;
    margin-bottom: 30px;
    border: $standart-border;
}
