.refreshButton {
  border: 5px ridge #A19374;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 28px;
  background-color: #0A0A0A;
  color: white;
  cursor: pointer;
  font-family: Playfair;
}

.container {
  display: grid;
  justify-items: center;
  font-family: Playfair;
}

.newsContainer {
  display: grid;
  width: 80%;
  margin-bottom: 30px;
  border: 5px ridge #A19374;
}