.container {
	display: grid;
	justify-items: center;
}

.titul {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
}

.refreshButton {
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    font-size: large;
    background-color: rgb(184, 208, 227);
    cursor: pointer;
    user-select: none;
}

.news {
    background-color: papayawhip;
    display: grid;
    grid-template-columns: 10fr 3fr;
    border: 1px solid black;
    padding: 5px;
    text-decoration: none;
}

.news:link {
    color: black;
}

.news:visited {
    color: black;
}

.newsContainer {
    display: grid;
    gap: 5px;
}

.newsTitul {
    font-weight: bold;
    font-size: 25px;
}

.score {
    align-self: center;
}

.author {

}

.date {

}