.container {
	display: grid;
	justify-items: center;
}

.titul {
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 40px;
	font-weight: bold;
}

.news {
    background-color: papayawhip;
    display: grid;
    grid-template-columns: 10fr 3fr;
    border: 1px solid black;
    padding: 5px;
}

.newsContainer {
    display: grid;
    gap: 5px;
}

.newsTitul {
    font-weight: bold;
    font-size: 25px;
}

.score {
    align-self: center;
}

.author {

}

.date {

}